body {
  background-color: red !important;
  background: linear-gradient(0deg, rgba(255,229,214,1) 0%, rgba(255,237,212,1) 50%, rgba(255,247,217,1) 100%) !important;
}

#newTaskForm {
  position: absolute;
  left: 40%;
  min-width: 300px;
  max-height: 500px;
  padding: 15px;
  margin: auto;
  border: 2px double #ccc;
  display: none;
  background-color: white;
}

#formCloseBtn {
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 13px;
  text-align: center;
  right: -10px;
  top: -10px;
  padding: 3px 5px 6px 5px;
  border: 1px solid #c00;
  border-radius: 50%;
  color: white;
  background-color: red;
}

#formCloseBtn:hover {
  cursor: pointer;
  background-color: #c00;
}

.listCont {
  width: 400px;
  padding: 15px;
  margin: 15px;
  background-color: white;
}

.task-name {
  color: black;
}

.done {
  color: #999;
  text-decoration: line-through;
}

.task-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.task-delete-btn {
  height: 20px;
  width: 20px;
  font-size: 11px;
  padding: 1px 5px 8px 5px;
  border-radius: 50%;
  background-color: #999;
  border: 1px solid #666;
}

.hidden {
  display: none;
}
