body {
  background-color: red !important;
  background: linear-gradient(0deg, rgba(255,229,214,1) 0%, rgba(255,237,212,1) 50%, rgba(255,247,217,1) 100%) !important;
}

#formsArea {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#newForm {
  position: absolute;
  left: 40%;
  top: 30px;
  min-width: 300px;
  max-height: 500px;
  padding: 15px;
  margin: auto;
  border: 2px double #ccc;
  background-color: white;
}

#newTaskForm {
  display: none;
}

#newListForm {
  display: none;
}

#addTaskBtn {
  display: none;
}

#editTaskBtn {
  display: none;
}

#delTaskBtn {
  display: none;
}

#delListBtn {
  display: none;
}

#editListBtn {
  display: none;
}

#addListBtn {
  display: none;
}

#formCloseBtn {
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 13px;
  text-align: center;
  right: -10px;
  top: -10px;
  padding: 3px 5px 6px 5px;
  border: 1px solid #c00;
  border-radius: 50%;
  color: white;
  background-color: red;
}

#formCloseBtn:hover {
  cursor: pointer;
  background-color: #c00;
}

.listCont {
  width: 400px;
  padding: 15px;
  margin: 15px;
  background-color: white;
}

.task-name {
  color: black;
}

.done {
  color: #999;
  text-decoration: line-through;
}

.task-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.task-delete-btn {
  height: 18px;
  width: 18px;
  font-size: 11px;
  padding: 1px 5px 8px 5px;
  border-radius: 50%;
  background-color: #999;
  border: 1px solid #666;
}

.hidden {
  display: none;
}

.taskInputForm {
  display: flex;
  margin-top: 5px;
}

.taskInputBtn {
  border: none;
  padding: 0;
  margin-left: 5px;
  border-radius: 50%;
  background: none;
  color: blue;
}

.addTaskIcon {
  font-size: 25px;
}

.addTaskIcon:hover {
  color: #00d;
  cursor: pointer;
}

.task-delete-icon {
  position: relative;
  top: -3px;
  left: -7px;
  font-size: 20px;
  color: white;
}

.task-delete-icon:hover {
  color: #ddd;
  cursor: pointer;
}

.task-date {
  height: 20px;
  padding: 1px 3px 1px 3px;
  font-size: 11px;
  border-radius: 6px;
  border: solid 1px #666;
  background-color: rgba(0,0,0,0);
  color: #666;
}
